* {
	border: 1px solid rgba(255,0,0,0.2);
}
body {
	font-family: "Oswald"
}
ul>li {
	list-style: none;
	display: inline-block;
}
h1 {
	margin-bottom: 30px;
	color: #FFF;
}
h4 {
	
	color: #FFF;
}
.menu {
	margin-left: 60px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.header {
	width: 960px;
	height: 350px;
	background-image: url(../images/background.jpg);background-size: 1450px 600px;overflow: hidden;
    background-repeat: no-repeat; }
.cabeza {
	margin-top: 40px;
}
.about {
	padding-right: 30px;
	padding-left: 30px;
	background-image: url(../images/tile1.png);}
.titulos {
	color: #c71fcb; }
.scroll	{
    overflow: auto;
	height: 211px;
}
.redondo {
	border-radius: 100%;
	width: 18%;
	padding: 0.4%;
	border: 1px solid #c71fcb;
	margin-right: 30px;
	margin-top: 30px;
}
.footer {
	background-image: url(../images/tile2.png);
}
.pie {
	margin-right: 20px;
}