* {
	border: 1px solid rgba(255,0,0,0.3);
}
body {
	font-family: "Oswald"
}
ul>li {
	list-style: none;
	display: inline-block;
}
h1 {
	margin-bottom: 20px;
	color: #FFF;
}
h4 {
	margin-bottom: 300px;
	color: #FFF;
}
.menu {
	margin-left: 60px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.header {
	width: 950px;
	height: 350px;
	background-image: url(../images/background.jpg);background-size: 1450px 600px;overflow: hidden;
    background-repeat: no-repeat; }
.cabeza {
	margin-top: 40px;
}